table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50em;
    margin:auto;
    margin-top: 4em;
    text-align:left;
}

table td{
    padding: 15px;
}

table tr:nth-child(even){background-color: #01d9d1;}

 .hovered td {
    background: #ffab00;
}