table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40em;
    margin:auto;
    margin-top: 10em;
}

table td{
    padding: 8px;
}

table tr:nth-child(even){background-color: #009B95;}

table tr:hover {background-color: #ddd;}
